<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutenticacion" />
                <binding name="BasicHttpBinding_IEquipos" />
                <binding name="BasicHttpBinding_IEquipos1" />
                <binding name="BasicHttpBinding_IEquipoDisponible" />
                <binding name="BasicHttpBinding_IReservaEquipo" />
                <binding name="BasicHttpBinding_IReservaEquipo1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dmsprestamos.apphb.com/Autenticacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticacion"
                contract="autenticacionWS.IAutenticacion" name="BasicHttpBinding_IAutenticacion" />
            <endpoint address="http://dmsprestamos.apphb.com/Equipos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipos"
                contract="equiposWS.IEquipos" name="BasicHttpBinding_IEquipos" />
            <endpoint address="http://dmsprestamos.apphb.com/Equipos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipos1"
                contract="equipoWS.IEquipos" name="BasicHttpBinding_IEquipos1" />
            <endpoint address="http://dmsprestamos.apphb.com/EquipoDisponible.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipoDisponible"
                contract="disponibleWS.IEquipoDisponible" name="BasicHttpBinding_IEquipoDisponible" />
            <endpoint address="http://dmsprestamos.apphb.com/ReservaEquipo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservaEquipo"
                contract="reservaWS.IReservaEquipo" name="BasicHttpBinding_IReservaEquipo" />
            <endpoint address="http://localhost:49403/ReservaEquipo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservaEquipo1"
                contract="reservacolaWS.IReservaEquipo" name="BasicHttpBinding_IReservaEquipo1" />
        </client>
    </system.serviceModel>
</configuration>